:root {
  --black: #222223;
  --grey: #676b79;
  --light-grey: #e6e6e6;
}

html {
  width: 500px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  color: var(--black);
  background-color: #fff;
}

button {
  display: flex;
  flex-direction: row-reverse;
  gap: 6px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  padding: 6px;
  background-color: transparent;
}

button:hover {
  background-color: rgba(61, 66, 82, 0.1);
}

button:active {
  background-color: rgba(61, 66, 82, 0.2);
}

button > svg > path {
  fill: var(--black);
}

#list-container,
#message-container {
  display: flex;
  flex-direction: column;
}

.list-item {
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 110px;
  border-bottom: solid 0.5px var(--grey);
  cursor: pointer;
}

.list-item:hover {
  background-color: var(--light-grey);
}

.subject {
  font-size: 18px;
}

.snippet {
  color: var(--grey);
}

#message-container {
  height: 100%;
  overflow: hidden;
  gap: 4px;
}

.message-body {
  padding: 12px 16px;
  flex: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: auto;
}

.action-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  padding: 8px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.action-row > button:first-child {
  margin-right: auto;
}
