:root {
  --blue: #45a9f9;
  --dark-blue: #45a9f966;
  --green: #00e676;
  --dark-green: #00a153;
  --orange: #ffa500;

  --grey0: #e6e6e6;
  --grey1: #cdcdcd;
  --grey2: #bbbbbb;
  --grey3: #757575;
  --grey4: #676b79;
  --grey5: #3e4250;
  --grey6: #373b41;
  --grey7: #31353a;
  --grey8: #2a2c2d;
}

html {
  width: 400px !important;
}

body {
  margin: 0;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 14px;
  position: relative;
  background-color: var(--grey7);
  color: var(--grey2);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 4px;
  background-color: transparent;
  font-family: inherit;
  font-weight: inherit;
  gap: 6px;
  color: inherit;
}

button:hover {
  background-color: #e6e6e61a;
}

button:active {
  background-color: #e6e6e633;
}

button > svg > path {
  fill: var(--grey2);
}

.action-row {
  position: sticky;
  top: 0;
  background-color: var(--grey7);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  padding: 6px;
  border-bottom: solid 1.5px var(--grey4);
}

#popup-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

#popup-container .action-row {
  margin-bottom: 8px;
}

/* LIST */
#list-container {
  display: flex;
  flex-direction: column;
  height: 350px;
  overflow-y: auto;
}

.list-item {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 0 16px;
  padding: 8px 8px 8px 4px;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: solid 0.5px var(--grey4);
  color: var(--grey3);
}

.btn-container {
  display: flex;
  align-items: center;
}

.btn-container button > svg > path {
  fill: var(--grey3);
}

.data {
  width: 274px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.subject {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--grey2);
}

.received {
  margin-left: auto;
  flex-shrink: 0;
  font-size: 12px;
}

.sender {
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-item:hover {
  background-color: var(--grey5);
  border-radius: 8px;
  color: var(--grey2);
}

.list-item:hover button > svg > path {
  fill: var(--grey2);
}

.list-item:hover button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.list-item:hover button:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.no-messages {
  color: var(--grey3);
  margin: 12px auto;
}

/* EVENTS */
#events-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: var(--grey5);
  border-radius: 8px;
  margin: 8px;
}

#timeline-actions {
  flex: 0.3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  box-sizing: border-box;
  margin-bottom: 6px;
}

#timeline-actions > button > svg > path {
  fill: var(--grey2);
}

#timeline-actions > span:first-child {
  margin-right: auto;
}

#timeline {
  flex: 1;
  position: relative;
  margin: 0px 24px;
  font-size: 12px;
  overflow-x: scroll;
}

#timeline::-webkit-scrollbar {
  height: 3px;
}

#timeline::-webkit-scrollbar-thumb {
  background-color: var(--grey7);
  border-radius: 16px;
}

#timeline::-webkit-scrollbar-thumb:hover {
  background: var(--grey4);
}

.x-axis {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 50%;
}

.tick {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 1px;
  background-color: var(--grey2);
}

.tick:nth-child(odd) {
  background-color: var(--grey3);
}

.tick.now {
  width: 3px;
  background-color: var(--dark-green);
  border-radius: 16px;
}

.tick-label {
  position: absolute;
  top: -20px;
  transform: translateX(-50%);
  width: max-content;
}

.event {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 16px;
  background-color: var(--blue);
  cursor: pointer;
}

.event:not(.past):hover,
.event:not(.past).hover {
  outline-style: solid;
  outline-width: 1.5px;
  outline-offset: 2px;
  outline-color: var(--blue);
}

.event.now {
  background-color: var(--green);
}

.event.now:hover,
.event.now.hover {
  outline-color: var(--green);
}

.event.past {
  background-color: var(--dark-blue);
  cursor: default;
}

.event.tentative {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--blue);
}

.event.tentative.now {
  box-shadow: inset 0 0 0 1px var(--green);
}

#event-list {
  flex: 1;
  overflow-y: auto;
}

.event-list-item {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  padding: 4px 8px;
  margin: 0 16px;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: solid 0.5px var(--grey4);
}

.event-list-item > span:first-child {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.event-list-item > span:last-child {
  flex-shrink: 0;
}

.event-list-item:last-child {
  border-bottom: none;
}

.event-list-item.now {
  color: var(--green);
}

.event-list-item:hover,
.event-list-item.hover {
  color: var(--grey8);
  background-color: var(--blue);
  border-radius: 8px;
}

.event-list-item.now:hover,
.event-list-item.now.hover {
  background-color: var(--green);
}

.no-events {
  text-align: center;
  padding-top: 12px;
}

/* MESSAGE */
#message-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.message-body {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#message-container .action-row > *:first-child {
  margin-right: auto;
}
