:root {
  --black: #222223;
  --grey: #676b79;
  --light-grey: #e6e6e6;
}

html {
  width: 450px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 14px;
  color: var(--black);
  background-color: #fff;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  padding: 6px;
  background-color: transparent;
}

button.square {
  border-radius: 4px;
  gap: 6px;
}

button:hover {
  background-color: rgba(61, 66, 82, 0.1);
}

button:active {
  background-color: rgba(61, 66, 82, 0.2);
}

button > svg > path {
  fill: var(--black);
}

#list-container,
#message-container {
  display: flex;
  flex-direction: column;
}

.action-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  padding: 8px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

/* LIST VIEW */
.list-item {
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-bottom: solid 0.5px var(--grey);
  cursor: pointer;
  position: relative;
  height: 70px;
}

.list-item > button {
  position: absolute;
  bottom: 8px;
  right: 12px;
  display: none;
}

.list-item:hover {
  background-color: var(--light-grey);
}

.list-item:hover > button {
  display: block;
}

.sender {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subject {
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 32px;
}

.snippet {
  color: var(--grey);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 32px;
}

/* MESSAGE VIEW */
#message-container {
  height: 700px;
  overflow: hidden;
  gap: 4px;
}

.message-body {
  padding: 12px 16px;
  flex: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: auto;
}

#message-container .action-row > *:first-child {
  margin-right: auto;
}
