#messages-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--grey0);
  color: var(--grey8);
}

#messages-container .data > div:first-child {
  padding: 12px;
  width: unset;
}

#messages-container .data .subject,
#messages-container .data .sender {
  overflow: unset;
  white-space: unset;
  text-overflow: unset;
  color: unset;
}

.message {
  padding: 8px;
  border-bottom: solid var(--grey4) 3px;
}
