#threads-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

#threads-container::-webkit-scrollbar-thumb {
  background-color: var(--grey4);
  border-radius: 16px;
}

#threads-container::-webkit-scrollbar-thumb:hover {
  background: var(--grey3);
}

#threads-container {
  display: flex;
  flex-direction: column;
  height: 375px;
  overflow-y: auto;
}

.list-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 16px;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: solid 0.5px var(--grey4);
  color: var(--grey3);
  transition: opacity 0.3s ease-out;
}

.data {
  display: flex;
  gap: 8px;
  align-items: center;
}

.data > div:first-child {
  width: 274px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.subject,
.sender {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subject {
  color: var(--grey2);
}

.received {
  margin-left: auto;
  flex-shrink: 0;
  font-size: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.received > button:not(.spinner) > svg > path {
  fill: currentColor;
}

.sender {
  font-size: 12px;
}

.snippet {
  height: 32px;
  overflow: hidden;
}

.list-item:hover {
  background-color: var(--grey5);
  color: var(--grey2);
}

.list-item:hover button > svg > path {
  fill: var(--grey2);
}

.no-messages {
  margin: 12px auto;
}
