@import url('../root.css');

body {
  font-size: 1rem;
  padding: 16px;
}

h1,
h3,
p,
ul {
  margin: 0;
}

a {
  color: inherit;
}

a:hover {
  color: var(--blue);
}

.banner {
  height: 256px;
  background: var(--gradient);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  color: var(--grey8);
  border-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 800px;
  margin: 32px auto;
}

.gradient-border {
  background: var(--gradient);
  border-radius: 8px;
  position: relative;
  width: 100%;
  height: 128px;
}

.summary {
  background: var(--grey7);
  margin: 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 64px;
  color: var(--grey2);
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.content > p:last-of-type {
  color: var(--orange);
}
