@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');

:root {
  --blue: #45a9f9;
  --orange: #ffa500;
  --grey2: #bbbbbb;
  --grey7: #31353a;
  --grey8: #2a2c2d;

  --gradient: linear-gradient(315deg, #00e676 0%, #1fcbb1 30.86%, #45a9f9 100%);
}

body {
  margin: 0;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1rem;
  position: relative;
  background-color: var(--grey7);
  color: var(--grey2);
  padding: 16px;
}

h1,
h3,
p,
ul {
  margin: 0;
}

a {
  color: inherit;
}

a:hover {
  color: var(--blue);
}

.banner {
  height: 256px;
  background: var(--gradient);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  color: var(--grey8);
  border-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 800px;
  margin: 32px auto;
}

.gradient-border {
  background: var(--gradient);
  border-radius: 8px;
  position: relative;
  width: 100%;
  height: 128px;
}

.summary {
  background: var(--grey7);
  margin: 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 64px;
  color: var(--grey2);
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.content > p:last-of-type {
  color: var(--orange);
}
