@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');
@import url('./shared/shared.css');
@import url('./threads/threads.css');
@import url('./messages/messages.css');
@import url('./timeline/timeline.css');

:root {
  --blue: #45a9f9;
  --dark-blue: #45a9f966;
  --green: #00e676;
  --dark-green: #00a153;
  --orange: #ffa500;
  --light-purple: #d0b5f375;

  --grey0: #e6e6e6;
  --grey1: #cdcdcd;
  --grey2: #bbbbbb;
  --grey3: #757575;
  --grey4: #676b79;
  --grey5: #3e4250;
  --grey6: #373b41;
  --grey7: #31353a;
  --grey8: #2a2c2d;

  --gradient: linear-gradient(315deg, #00e676 0%, #1fcbb1 30.86%, #45a9f9 100%);
}

body {
  margin: 0;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 14px;
  position: relative;
  background-color: var(--grey7);
  color: var(--grey2);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 4px;
  background-color: transparent;
  font-family: inherit;
  font-weight: inherit;
  gap: 6px;
  color: inherit;
}

button:hover {
  background-color: #e6e6e61a;
}

button:active {
  background-color: #e6e6e633;
}

.action-row button > svg > path {
  fill: var(--grey2);
}

.spinner {
  animation: rotate 2s linear infinite;
}

.spinner circle {
  stroke: var(--blue);
  stroke-linecap: round;
  stroke-dasharray: 80, 200;
  stroke-dashoffset: 0;
  stroke-width: 6px;
  fill: none;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

#popup-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 600px;
}
